.loginButton{
  background: $light-blue;
  font-size: $fontSizeNormal;
  padding: $paddingNormal;
  color: white;
  border:none;
}
.genButton{
  background: $light-blue;
  font-size: $fontSizeNormal;
  padding: $paddingNormal;
  display:inline-block;
  color: white;
  border:none;
  text-decoration: none;
  line-height: 1;
}
.button__link{
  background: none;

}
.secondaryButton{
  background: $button-secondary;
}
