// Colors
$dark-grey: #333;
$light-blue: #4C93FF;
$dark-blue: #364051;
$button-secondary:#888888;
$off-white: #f7f7f7;
$gray:#666;
// rems
$fontSizeNormal: 1.4rem;
$fontSizeNormal2x: 1.6rem;
$fontSizeNormal3x: 1.8rem;
$paddingSmall: 1.2rem;
$paddingNormal: 1.6rem;
$paddingNormal2x: 3.2rem;
$paddingNormal3x:4.8rem;
$desktop-breakpoint: 45rem;
